* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* LAYOUT */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col-2 {
    flex-basis: calc((100% / 10) * 2);
}

.col-3 {
    flex-basis: calc((100% / 10) * 3);
}


.col-5 {
    flex-basis: calc((100% / 10) * 5);
}


.col-6 {
    flex-basis: calc((100% / 10) * 6);
}

.col-7 {
    flex-basis: calc((100% / 10) * 7);
}

.col-8 {
    flex-basis: calc((100% / 10) * 8);
}

.col-10 {
    flex-basis: 100%;
}

.col-small {
    flex-basis: calc((100% - (calc((100% / 10) * 3))) / 4);
}

/* DEBUG */

.debug [class^="col-"] {
    border: 2px dashed black;
    min-height: 500px;
    padding: 10px;
}

.debug navbar [class^="col-"] {
    min-height: 0;
}

/* HAEADER */

.main-header {
    background-color: #add8e6;
    padding-block: 15px;
}

navbar {
    display: block;
    background-color: #daa520;
    /* height: 45px; */
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.login {
    text-align: right;
}